name: Build and Release Win64

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*' # Запуск релиза при создании тега (напр. v1.0.0)
  pull_request:
    branches:
      - main # Проверка сборки при PR
      - master

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        continue-on-error: true # Если установка упадет, но .NET уже есть в системе — идем дальше
        with:
          dotnet-version: '8.0.x' # Укажите вашу версию .NET

      - name: Publish Application
        run: |
          dotnet publish -c Release -r win-x64 --self-contained true /p:PublishSingleFile=true /p:PublishReadyToRun=true -o ./dist

      - name: Archive Release
        shell: pwsh
        run: |
          Compress-Archive -Path ./dist/* -DestinationPath Windows-x64-WRST.zip

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          files: Windows-x64-WRST.zip
          tag_name: ${{ github.ref_name }}
          retention-days: 1

  release:
    if: startsWith(github.ref, 'refs/tags/v')
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: bin-*
          merge-multiple: true

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: |
            *.zip
            *.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
